@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Outfit", sans-serif;
	background-color: hsl(212, 45%, 89%);
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	padding: 0 25px;
}

@media screen and (min-width: 375px) {
	body {
		padding: 0;
	}
}

.card {
	background-color: hsl(0, 0%, 100%);
	border-radius: 10px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	padding: 16px 16px 40px;
	width: 320px;
}

.card img {
	display: block;
	margin: 0 auto;
	max-width: 100%;
	height: auto;
}

.card .card-content {
	margin-top: 24px;
	padding: 0 16px;
	text-align: center;
}

.card .card-content h2 {
	margin-bottom: 16px;
	font-size: 22px;
	line-height: 120%;
	color: hsl(218, 44%, 22%);
	font-weight: 700;
}

.card .card-content p {
	font-size: 15px;
	line-height: 140%;
	color: hsl(216, 15%, 48%);
	font-weight: 400;
}
