@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

:root {
	--font-family: "Outfit", sans-serif;
	--color-white: hsl(0, 0%, 100%);
	--color-slate-300: hsl(212, 45%, 89%);
	--color-slate-500: hsl(216, 15%, 48%);
	--color-slate-900: hsl(218, 44%, 22%);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: var(--font-family);
	background-color: var(--color-slate-300);
	min-height: 100vh;
}

.page {
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.page__container {
	padding: 0 25px;
	width: 100%;
	display: flex;
	justify-content: center;
}

.card {
	background-color: var(--color-white);
	border-radius: 20px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	padding: 16px 16px 40px;
	width: 320px;
}

.card__image {
	display: block;
	margin: 0 auto;
	max-width: 100%;
	height: auto;
	border-radius: 10px;
}

.card__content {
	margin-top: 24px;
	padding: 0 16px;
	text-align: center;
}

.card__title {
	margin-bottom: 16px;
	font-size: 22px;
	line-height: 120%;
	color: var(--color-slate-900);
	font-weight: 700;
}

.card__description {
	font-size: 15px;
	line-height: 140%;
	color: var(--color-slate-500);
	font-weight: 400;
}
